.sizeFixEditorParent .react-monaco-editor-container {
  overflow: hidden;
}

.editor-header {
  font-size: 12px;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.editor-header.right-align {
  justify-content: flex-end;
}

.button {
  user-select: none;
  margin-right: 8px;
}

.button:focus {
  outline: 0;
}

.myInlineDecoration {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: coral;
}

.myGlyphMarginClass {
  display: block;
  background-image: url('https://img.icons8.com/offices/30/000000/error.png');
  background-size: contain;
  background-repeat: no-repeat;
}